.sidebar {
  /* width: 20%;
  margin: 10px;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: calc(100vh - 144px);
  */
  /* margin-top: calc(100vh - 144px); */
  width: 15%;
  height: 90vh;
  overflow: hidden;
  float: left;
  background-color: #59ce8f;
}

.sidebarItem {
  padding-top: 0.5rem;
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.sidebarItem > p {
  padding-top: 1rem;
}

.sidebarList {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.sidebarListItem {
  display: inline-block;
  width: 50%;
  margin-top: 1rem;
  cursor: pointer;
  /* border-bottom: 1px solid black; */
}

.sidebarListItem:hover {
  color: red;
}

.sidebarTitle {
  text-align: center;
  font-weight: 600;
  margin: 10px;
  padding: 5px;
  width: 100%;
  border-top: 1px solid #a7a4a4;
  border-bottom: 1px solid #a7a4a4;
  padding-left: 2rem;
}

.sidebarImg {
  padding-top: 1rem;
  width: 80%;
  display: block;
}

.link-active {
  color: red;
  /* background-color: white; */
  text-decoration: none;
}

ul {
  padding-left: 2rem !important;
}

.active {
  background-color: yellow;
}

a {
  /* color: var(--bs-link-color); */
  text-decoration: none !important;
}
